@import "tailwindcss";
@theme {
  --color-pastel-bg: #EDE7FF;
  --color-pastel-surface: #E6F4FF;

  --color-pastel-primary: #9F8CFF;
  --color-pastel-secondary: #FF9FCF;
  --color-pastel-tertiary: #FFB59A;

  --color-pastel-navbarStart: #C7B6FF;
  --color-pastel-navbarEnd: #8ED0FF;

  --color-pastel-text: #2B2E4A;
  --color-pastel-muted: #6B7A99;
  --color-pastel-border: #D6E6FF;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}